{% extends "base.html" %}

{% block content %}
    <!-- main contents -->
    <main class="2xl:ml-[--w-side] xl:ml-[--w-side-md] md:ml-[--w-side-small]">
        <div class="2xl:max-w-6xl mx-auto h-screen relative shadow-lg overflow-hidden border1 max-md:pt-14">
            <div class="flex bg-white dark:bg-dark2">
                <!-- sidebar -->
                <div class="md:w-[360px] relative border-r dark:border-slate-700">
                    <div id="side-chat" class="top-0 left-0 max-md:fixed max-md:w-5/6 max-md:h-screen bg-white z-50 max-md:shadow max-md:-translate-x-full dark:bg-dark2">
                        <!-- heading title -->
                        <div class="p-4 border-b dark:border-slate-700">
                            <div class="flex mt-2 items-center justify-between">
                                <h2 class="text-2xl font-bold text-black ml-1 dark:text-white"> Чаты </h1>
                                <!-- right action buttons -->
                                <div class="flex items-center gap-2.5">
                                    <button class="group">
                                        <ion-icon name="settings-outline" class="text-2xl flex group-aria-expanded:rotate-180"></ion-icon>
                                    </button>
                                    <div  class="md:w-[270px] w-full" uk-dropdown="pos: bottom-left; offset:10; animation: uk-animation-slide-bottom-small">
                                        <nav>
                                            <a href="/settings"> <ion-icon class="text-2xl shrink-0 -ml-1" name="notifications-outline"></ion-icon> Настройки приватности </a>
                                            <a href="messages.html#"> <ion-icon class="text-xl shrink-0 -ml-1" name="volume-mute-outline"></ion-icon> Отключить уведомления</a>
                                        </nav>
                                    </div>
                                    <button class="">
                                        <ion-icon name="checkmark-circle-outline" class="text-2xl flex"></ion-icon>
                                    </button>
                                    <!-- mobile toggle menu -->
                                    <button type="button" class="md:hidden" uk-toggle="target: #side-chat ; cls: max-md:-translate-x-full">
                                        <ion-icon name="chevron-down-outline"></ion-icon>
                                    </button>
                                </div>
                            </div>
                            <!-- search -->
                            <div class="relative mt-4">
                                <div class="absolute left-3 bottom-1/2 translate-y-1/2 flex"><ion-icon name="search" class="text-xl"></ion-icon></div>
                                <input type="text" placeholder="Search" class="w-full !pl-10 !py-2 !rounded-lg">
                            </div>
                        </div>
                        <!-- users list -->
                        <div class="space-y-2 p-2 overflow-y-auto h-[calc(100vh-127px)]">
                            {% for dialog in dialogs %}
                                <a href="/message/{{ dialog.user.id }}" class="relative flex items-center gap-4 p-2 duration-200 rounded-xl hover:bg-secondery">
                                    <div class="relative w-14 h-14 shrink-0">
                                        <img src="/static/images/avatars/{{ dialog.user.avatar }}" alt="" class="object-cover w-full h-full rounded-full">
                                        <div class="w-4 h-4 absolute bottom-0 right-0  bg-green-500 rounded-full border border-white dark:border-slate-800"></div>
                                    </div>
                                    <div class="flex-1 min-w-0">
                                        <div class="flex items-center gap-2 mb-1.5">
                                            <div class="mr-auto text-sm text-black dark:text-white font-medium">{{ dialog.user.name }}</div>
                                        </div>
                                        <div class="font-medium overflow-hidden text-ellipsis text-sm whitespace-nowrap">{{ dialog.text }}</div>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- overly -->
                    <div id="side-chat" class="bg-slate-100/40 backdrop-blur w-full h-full dark:bg-slate-800/40 z-40 fixed inset-0 max-md:-translate-x-full md:hidden" uk-toggle="target: #side-chat ; cls: max-md:-translate-x-full"></div>
                </div>

                <!-- message center -->
                <div class="flex-1">
                    <!-- chat heading -->
                    <div class="flex items-center justify-between gap-2 w- px-6 py-3.5 z-10 border-b dark:border-slate-700 uk-animation-slide-top-medium">
                        <div class="flex items-center sm:gap-4 gap-2" style="display: none;">
                            <!-- toggle for mobile -->
                            <button type="button" class="md:hidden" uk-toggle="target: #side-chat ; cls: max-md:-translate-x-full">
                                <ion-icon name="chevron-back-outline" class="text-2xl -ml-4"></ion-icon>
                            </button>
                        </div>

                        <div class="flex items-center gap-2 h-6">
                        </div>
                    </div>

                    <!-- chats bubble -->
                    <div class="w-full p-5 py-10 overflow-y-auto md:h-[calc(100vh-137px)] h-[calc(100vh-250px)]" id="chat1">
                    </div>

                    <!-- sending message area -->
                    <form class="space-y-3" id="messageForm">
                        <div class="flex items-center md:gap-4 gap-2 md:p-3 p-2 overflow-hidden">
                            <div id="message__wrap" class="flex items-center gap-2 h-full dark:text-white -mt-1.5">
                                <button type="button"  class="shrink-0" onclick="file.click()">
                                    <ion-icon class="text-3xl flex" name="add-circle-outline"></ion-icon>
                                </button>
                                <input id="file" type="file" name="file" hidden />

                                <button type="button"  class="shrink-0">
                                    <ion-icon class="text-3xl flex" name="happy-outline"></ion-icon>
                                </button>

                                <div class="dropbar p-2" uk-drop="stretch: x; target: #message__wrap ;animation: uk-animation-scale-up uk-transform-origin-bottom-left ;animate-out: true; pos: top-left ; offset:2; mode: click ; duration: 200 ">
                                    <div class="sm:w-60 bg-white shadow-lg border rounded-xl  pr-0 dark:border-slate-700 dark:bg-dark3">
                                        <h4 class="text-sm font-semibold p-3 pb-0">Send Imogi</h4>
                                        <div class="grid grid-cols-5 overflow-y-auto max-h-44 p-3 text-center text-xl">
                                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"> 😊 </div>
                                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"> 🤩 </div>
                                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"> 😎</div>
                                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"> 🥳 </div>
                                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"> 😂 </div>
                                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"> 🥰 </div>
                                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"> 😡 </div>
                                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"> 😊 </div>
                                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"> 🤩 </div>
                                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"> 😎</div>
                                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"> 🥳 </div>
                                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"> 😂 </div>
                                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"> 🥰 </div>
                                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"> 😡 </div>
                                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"> 🤔 </div>
                                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"> 😊 </div>
                                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"> 🤩 </div>
                                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"> 😎</div>
                                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"> 🥳 </div>
                                            <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"> 😂 </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="relative flex-1">
                                <textarea name="text" id="text" placeholder="Напишите сообщение..." rows="1" class="w-full resize-none bg-secondery rounded-full px-4 p-2"></textarea>
                            </div>
                            <button type="button" class="flex h-full dark:text-white">
                                <ion-icon class="text-3xl" name="paper-plane-outline"></ion-icon>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}