{% extends "base.html" %}

{% block content %}
        <main class="2xl:ml-[--w-side] xl:ml-[--w-side-md] md:ml-[--w-side-small]">
            <div class="main__inner">
                <div class="flex max-lg:flex-col xl:gap-10 md:gap-3 md:mt-10" id="js-oversized">
                    <div class="md:max-w-[510px] flex-1 xl:space-y-6 space-y-3">
                        <!-- Сделать пост-->
                        <form action="" method="post" class="space-y-3" enctype="multipart/form-data" uk-scrollspy="target: > * > *; cls: uk-animation-scale-up; delay: 100 ;repeat: false">
                            {{ form.hidden_tag() }}
                            <div class="bg-white rounded-xl shadow-sm p-4 space-y-4 text-sm font-medium border1 dark:bg-dark2">
                                <div class="flex items-center gap-3">
                                    <div class="flex-1 bg-slate-100 hover:bg-opacity-80 transition-all rounded-lg cursor-pointer dark:bg-dark3 ">
                                        <textarea maxlength="1000" placeholder="Что нового?" type="text" style="max-height:512px; min-height:42px; height: 42px;" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" rows="3" name="text"></textarea>
                                        <img id="preview" class="w-full h-full object-cover inset-0 rounded-lg" alt=""/>
                                    </div>
                                    <label class="button__ico ml-auto cursor-pointer" for="file_input">
                                        <ion-icon class="text-3xl" name="image-outline"></ion-icon>
                                    </label>
                                    {{ form.images(type="file", class="button__ico", id="file_input", onchange="displayImage(this)", style="display: none;") }}
                                    <label class="button__ico ml-auto cursor-pointer" for="submit">
                                        <ion-icon class="text-3xl" name="paper-plane-outline"></ion-icon>
                                    </label>
                                    {{ form.submit(type="submit", id="submit", style="display: none;") }}
                                </div>
                            </div>
                        </form>

                        <!-- Посты -->
                        {% for post in posts %}
                        <div class="bg-white rounded-xl shadow-sm text-sm font-medium border1 dark:bg-dark2" uk-scrollspy="target: > * > *; cls: uk-animation-scale-up; delay: 100 ;repeat: false">
                            <div class="flex gap-3 sm:p-4 p-2.5 text-sm font-medium">
                                <a href="/profile/{{ post.user.id }}"> <img src="../static/images/avatars/{{ post.user.avatar }}" alt="" class="w-9 h-9 rounded-full"> </a>
                                <div class="flex-1">
                                    <a href="/profile/{{ post.user.id }}"> <h4 class="text-black dark:text-white"> {{ post.user.name }} </h4> </a>
                                    <div class="text-xs text-gray-500 dark:text-white/80"> {{ post.created_date }}</div>
                                </div>
                                <div class="-mr-1">
                                    <button type="button" class="button__ico w-8 h-8"> <ion-icon class="text-xl" name="ellipsis-horizontal"></ion-icon> </button>
                                    <div  class="w-[245px]" uk-dropdown="pos: bottom-right; animation: uk-animation-scale-up uk-transform-origin-top-right; animate-out: true; mode: click">
                                        <nav>
                                            <a href="/"> <ion-icon class="text-xl shrink-0" name="flag-outline"></ion-icon>  Пожаловаться </a>
                                            <hr>
                                            {% if current_user.is_authenticated and current_user.id == post.user_id %}
                                                <a href="/post_delete/{{ post.id }}" class="text-red-400 hover:!bg-red-50 dark:hover:!bg-red-500/50"> <ion-icon class="text-xl shrink-0" name="stop-circle-outline"></ion-icon> Удалить </a>
                                            {% endif %}
                                        </nav>
                                    </div>
                                </div>
                            </div>
                            <div class="sm:px-4 p-2.5 pt-0">
                                <span class="text-sm mt-2 md:font-normal font-light"> {{ post.text }}</span>
                            </div>
                            {% if post.images %}
                                <div class="relative uk-visible-toggle sm:px-4" tabindex="-1" uk-slideshow="animation: push;finite: true;min-height: 200; max-height: 350;">
                                    <ul class="uk-slideshow-items" uk-lightbox="">
                                        <li class="w-full overflow-hidden sm:rounded-md">
                                            <a href="/static/images/post/{{ post.images }}">
                                                <img src="/static/images/post/{{ post.images }}" class="w-full h-full object-cover inset-0" alt="">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            {% endif %}
                            <div class="sm:p-4 p-2.5 flex items-center gap-4 text-xs font-semibold">
                                <div class="flex items-center gap-2.5">
                                    <button type="button" class="button__ico text-red-500 bg-red-100 dark:bg-slate-700"> <ion-icon class="text-lg" name="heart"></ion-icon> </button>
                                    <a href="/">0</a>
                                </div>
                                <div class="flex items-center gap-3">
                                    <button type="button" class="button__ico bg-slate-200/70 dark:bg-slate-700"> <ion-icon class="text-lg" name="chatbubble-ellipses"></ion-icon> </button>
                                    <span>0</span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <!-- Правое боковое меню -->
                    <div class="lg:max-w-[370px] md:max-w-[510px] mx-auto" uk-scrollspy="target: > * > *; cls: uk-animation-scale-up; delay: 100 ;repeat: false">
                        <div class="xl:space-y-6 space-y-3 md:pb-12">
                            <div class="bg-white rounded-xl shadow-sm p-5 px-6 border1 dark:bg-dark2">
                                <div class="flex justify-between text-black dark:text-white">
                                    <h3 class="font-bold text-base"> Дружите! </h3>
                                    <button type="button"> <ion-icon name="sync-outline" class="text-xl"></ion-icon> </button>
                                </div>
                                <div class="space-y-4 capitalize text-xs font-normal mt-5 mb-2 text-gray-500 dark:text-white/80">
                                    <div class="flex items-center gap-3">
                                        <a href="/">
                                            <img src="../static/images/avatars/avatar.jpeg" alt="" class="bg-gray-200 rounded-full w-10 h-10">
                                        </a>
                                        <div class="flex-1">
                                            <a href="/"><h4 class="font-semibold text-sm text-black dark:text-white">  Гарфилд</h4></a>
                                        </div>
                                        <button type="button" class="text-sm rounded-full py-1.5 px-4 font-semibold bg-secondery"> Написать </button>
                                    </div>
                                    <div class="flex items-center gap-3">
                                        <a href="/">
                                            <img src="../static/images/avatars/avatar.jpeg" alt="" class="bg-gray-200 rounded-full w-10 h-10">
                                        </a>
                                        <div class="flex-1">
                                            <a href="/"><h4 class="font-semibold text-sm text-black dark:text-white"> Кузьмич</h4></a>
                                        </div>
                                        <button type="button" class="text-sm rounded-full py-1.5 px-4 font-semibold bg-secondery"> Написать </button>
                                    </div>
                                    <div class="flex items-center gap-3">
                                        <a href="/">
                                            <img src="../static/images/avatars/avatar.jpeg" alt="" class="bg-gray-200 rounded-full w-10 h-10">
                                        </a>
                                        <div class="flex-1">
                                            <a href="/"><h4 class="font-semibold text-sm text-black dark:text-white"> Персик</h4></a>
                                        </div>
                                        <button type="button" class="text-sm rounded-full py-1.5 px-4 font-semibold bg-secondery"> Написать </button>
                                    </div>
                                    <div class="flex items-center gap-3">
                                        <a href="/">
                                            <img src="../static/images/avatars/avatar.jpeg" alt="" class="bg-gray-200 rounded-full w-10 h-10">
                                        </a>
                                        <div class="flex-1">
                                            <a href="/"><h4 class="font-semibold text-sm text-black dark:text-white">  Вольдемар</h4></a>
                                        </div>
                                        <button type="button" class="text-sm rounded-full py-1.5 px-4 font-semibold bg-secondery"> Написать </button>
                                    </div>
                                    <div class="flex items-center gap-3">
                                        <a href="/">
                                            <img src="../static/images/avatars/avatar.jpeg" alt="" class="bg-gray-200 rounded-full w-10 h-10">
                                        </a>
                                        <div class="flex-1">
                                            <a href="/"><h4 class="font-semibold text-sm text-black dark:text-white">  Виолетт</h4></a>
                                        </div>
                                        <button type="button" class="text-sm rounded-full py-1.5 px-4 font-semibold bg-secondery"> Написать </button>
                                    </div>
                                </div>
                            </div>
                            </div>

                            <!-- Тренды -->
                            <div class="bg-white rounded-xl shadow-sm p-5 px-6 border1 dark:bg-dark2" uk-scrollspy="target: > * > *; cls: uk-animation-scale-up; delay: 100 ;repeat: false">

                                <div class="flex justify-between text-black dark:text-white">
                                    <h3 class="font-bold text-base"> Топ трендов </h3>
                                    <button type="button"> <ion-icon name="sync-outline" class="text-xl"></ion-icon> </button>
                                </div>

                                <div class="space-y-3.5 capitalize text-xs font-normal mt-5 mb-2 text-gray-600 dark:text-white/80">
                                    <a href="/">
                                        <div class="flex items-center gap-3 p">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 -mt-2">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 8.25h15m-16.5 7.5h15m-1.8-13.5l-3.9 19.5m-2.1-19.5l-3.9 19.5" />
                                            </svg>
                                            <div class="flex-1">
                                                <h4 class="font-semibold text-black dark:text-white text-sm">  СмешныеФото </h4>
                                                <div class="mt-0.5"> 1,245,62 post </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="/" class="block">
                                        <div class="flex items-center gap-3">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 -mt-2">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 8.25h15m-16.5 7.5h15m-1.8-13.5l-3.9 19.5m-2.1-19.5l-3.9 19.5" />
                                            </svg>
                                            <div class="flex-1">
                                                <h4 class="font-semibold text-black dark:text-white text-sm">  СобакаДругЧеловека</h4>
                                                <div class="mt-0.5"> 1,624 post </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="/" class="block">
                                        <div class="flex items-center gap-3">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 -mt-2">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 8.25h15m-16.5 7.5h15m-1.8-13.5l-3.9 19.5m-2.1-19.5l-3.9 19.5" />
                                            </svg>
                                            <div class="flex-1">
                                                <h4 class="font-semibold text-black dark:text-white text-sm">  Питомец</h4>
                                                <div class="mt-0.5"> 820 post </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="/" class="block">
                                        <div class="flex items-center gap-3">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 -mt-2">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 8.25h15m-16.5 7.5h15m-1.8-13.5l-3.9 19.5m-2.1-19.5l-3.9 19.5" />
                                            </svg>
                                            <div class="flex-1">
                                                <h4 class="font-semibold text-black dark:text-white text-sm"> Любовь</h4>
                                                <div class="mt-0.5"> 480 post </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
{% endblock %}
