<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/images/favicon.png" rel="icon" type="image/png">
    <title>{{ title }}</title>
    <meta name="description" content="PetChat - это социальная сеть для домашних животных, которая позволяет владельцам и их питомцам общаться и делиться моментами радости и счастья.">
    <link rel="stylesheet" href="../static/css/tailwind.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body class="bg-white dark:bg-slate-900">
    <div class="flex flex-col h-screen justify-center items-center">
        <div class="max-w-sm mx-auto md:px-10 p-4 w-full">
            <div uk-scrollspy="target: > * > *; cls: uk-animation-scale-up; delay: 100 ;repeat: true">
                <a href="/about">
                    <div class="flex justify-center mb-12" uk-scrollspy="target: > *; cls: uk-animation-scale-up; delay: 100 ;repeat: true">
                        <img src="../static/images/logo.png" alt="" class="w-auto h-20 shrink-0 bg-fuchsia-100 px-3 rounded-2xl p-2.5">
                    </div>
                </a>
                <form action="" method="post" class="space-y-3">
                    {{ form.hidden_tag() }}
                    {{ form.email(class="!w-full", type="email", placeholder=form.email.label.text) }}
                    {{ form.password(class="!w-full", type="password", placeholder=form.password.label.text) }}
                    <div class="text-red-500 font-weight-bold">
                      {{ message }}
                    </div>
                    <a href="/register" class="hidden">
                        <div class="text-sm text-right text-gray-400 py-4"> Забыл пароль </div>
                    </a>
                    <div class="form-check">
                      {{ form.remember_me(class="form-check-input", id="flexCheckIndeterminate", type="checkbox") }}
                      <label class="form-check-label">
                        {{ form.remember_me.label }}
                      </label>
                    </div>
                    {{ form.submit(type="submit", class="font-medium w-full rounded-lg bg-slate-900 py-1.5 px-4 text-white h-[38px] active:scale-[0.97] transition-all duration-150") }}
                    <div class="space-x-2 text-sm text-center text-slate-400 dark:text-white/70">
                        <span> Нет аккаунта? </span>
                        <span>—</span>
                        <a href="/register" class="text-gray-600 hover:text-gray-500">Зарегистрироваться</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="../static/js/uikit.min.js"></script>
    <script src="../static/js/script.js"></script>
</body>
</html>