{% extends "base.html" %}

{% block content %}
        <main class="2xl:ml-[--w-side] xl:ml-[--w-side-md] md:ml-[--w-side-small]">
            <div class="main__inner">
                <div class="py-6 relative">
                    <div class="flex md:gap-16 gap-4 max-md:flex-col">
                        <div class="relative md:p-1 rounded-full h-full max-md:w-16 bg-gradient-to-tr from-pink-400 to-pink-600 shadow-md hover:scale-110 duration-500 uk-animation-scale-up">
                            <div class="relative md:w-40 md:h-40 h-16 w-16 rounded-full overflow-hidden md:border-[6px] border-gray-100 shrink-0 dark:border-slate-900"> 
                                <img src="../static/images/avatars/{{ profile.avatar }}" alt="" class="w-full h-full absolute object-cover">
                            </div>
                        </div>
                        <div class="max-w-2x flex-1">
                            <h3 class="md:text-xl text-base font-semibold text-black dark:text-white"> {{ profile.name }} </h3>
                            <p class="text-sm mt-2 md:font-normal font-light"> {{ profile.about }}</p>
                            <div class="flex md:items-end justify-between md:mt-8 mt-4 max-md:flex-col gap-4">
                                <div class="flex sm:gap-10 gap-6 sm:text-sm text-xs max-sm:absolute max-sm:top-10 max-sm:left-36">
                                    <div>
                                        <p>Постов</p>
                                        <h3 class="sm:text-xl sm:font-bold mt-1 text-black dark:text-white text-base font-normal"> {{ posts|length }}</h3>
                                    </div>
                                </div>
                                <div class="flex items-center gap-3 text-sm">
                                    {% if profile.id != current_user.get_id() | int %}
                                    <button type="submit" class="button bg-pink-600 text-white">Написать</button>
                                    {% endif %}
                                    <div> 
                                        <button type="submit" class="rounded-lg bg-slate-200/60 flex px-2 py-1.5 dark:bg-dark2"> <ion-icon class="text-xl" name="ellipsis-horizontal"></ion-icon></button>
                                        <div  class="w-[240px]" uk-dropdown="pos: bottom-right; animation: uk-animation-scale-up uk-transform-origin-top-right; animate-out: true; mode: click;offset:10"> 
                                            <nav>
                                                <a href="/"> <ion-icon class="text-xl" name="flag-outline"></ion-icon>  Пожаловаться </a>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-10">
                    <div  uk-sticky="cls-active: bg-slate-100/60 z-30 backdrop-blur-lg px-4 dark:bg-slate-800/60; start: 500; animation: uk-animation-slide-top">
                        <nav class="text-sm text-center text-gray-500 capitalize font-semibold dark:text-white">
                            <ul class="flex gap-2 justify-center border-t dark:border-slate-700" uk-switcher="connect: #story_tab ; animation: uk-animation-fade, uk-animation-slide-left-medium">
                                <li> <a class="flex items-center p-4 py-2.5 -mb-px border-t-2 border-transparent aria-expanded:text-black aria-expanded:border-black aria-expanded:dark:text-white aria-expanded:dark:border-white"> <ion-icon class="mr-2 text-2xl" name="camera-outline"></ion-icon> Посты  </a> </li>
                                <li> <a class="flex items-center p-4 py-2.5 -mb-px border-t-2 border-transparent aria-expanded:text-black aria-expanded:border-black aria-expanded:dark:text-white aria-expanded:dark:border-white"> <ion-icon class="mr-2 text-2xl" name="heart-outline"></ion-icon> Нравится </a> </li>
                                <li> <a class="flex items-center p-4 py-2.5 -mb-px border-t-2 border-transparent aria-expanded:text-black aria-expanded:border-black aria-expanded:dark:text-white aria-expanded:dark:border-white"> <ion-icon class="mr-2 text-2xl" name="bookmark-outline"></ion-icon> Закладки </a> </li>
                            </ul>
                        </nav>
                    </div>
                    <div id="story_tab" class="uk-switcher">
                        <!-- Посты -->
                        <div class="pt-16">
                            <div class="grid lg:grid-cols-3 grid-cols-2 gap-4" uk-scrollspy="target: > div; cls: uk-animation-scale-up; delay: 100;repeat:true">
                                {% for post in posts %}
                                    <!-- Пост -->
                                    <div class="relative lg:rounded-xl rounded-md overflow-hidden shadow bg-white dark:bg-dark2">
                                        <div class="flex items-center gap-3 sm:px-4 py-3 p-2 text-sm font-normal">
                                            <div class="h-6"></div>
                                            <div class="absolute top-0.5 right-0 md:m-2.5 m-1">
                                                <button type="button" class="button__ico w-8 h-8"> <ion-icon class="text-xl" name="ellipsis-horizontal"></ion-icon> </button>
                                                <div  class="w-[232px]" uk-dropdown="pos: bottom-right; animation: uk-animation-scale-up uk-transform-origin-top-right; animate-out: true; mode: click">
                                                    <nav>
                                                        <a href="/"> <ion-icon class="text-xl shrink-0" name="flag-outline"></ion-icon>  Пожаловаться </a>
                                                        <hr>
                                                        <a href="/" class="text-red-400 hover:!bg-red-50 dark:hover:!bg-red-500/50"> <ion-icon class="text-xl shrink-0" name="stop-circle-outline"></ion-icon> Удалить </a>
                                                    </nav>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="sm:px-4 p-2.5 pt-0">
                                            <span class="text-sm mt-2 md:font-normal font-light"> {{ post.text }}</span>
                                        </div>
                                        {% if post.images %}
                                            <div class="relative uk-visible-toggle sm:px-4" tabindex="-1" uk-slideshow="animation: push;finite: true;min-height: 200; max-height: 250;">
                                                <ul class="uk-slideshow-items" uk-lightbox="">
                                                        <li class="w-full overflow-hidden sm:rounded-md">
                                                            <a href="/static/images/post/{{ post.images }}">
                                                                <img src="/static/images/post/{{ post.images }}" class="w-full h-full object-cover inset-0" alt="">
                                                            </a>
                                                        </li>
                                                </ul>
                                            </div>
                                        {% endif %}
                                        <div class="flex items-center md:gap-3 gap-1 md:py-2.5 md:px-3 p-1.5">
                                            <button type="button" class="button__ico"> <ion-icon class="md:text-2xl text-lg" name="heart-outline"></ion-icon> </button>
                                            <button type="button" class="button__ico"> <ion-icon class="md:text-2xl text-lg" name="chatbubble-ellipses-outline"></ion-icon> </button>
                                            <button type="button" class="button__ico ml-auto"> <ion-icon class="md:text-2xl text-lg" name="bookmark-outline"></ion-icon> </button>
                                        </div>
                                    </div>
                                {% endfor %}
                                <div class="w-full lg:h-60 h-full aspect-[3/3] bg-slate-200/60 rounded-lg dark:bg-dark2 animate-pulse"></div>
                                <div class="w-full lg:h-60 h-full aspect-[3/3] bg-slate-200/60 rounded-lg dark:bg-dark2 animate-pulse"></div>
                                <div class="w-full lg:h-60 h-full aspect-[3/3] bg-slate-200/60 rounded-lg dark:bg-dark2 animate-pulse"></div>
                            </div>
                        </div>

                        <!-- Нравится -->
                        <div>
                            <div class="mt-8">
                                <div class="flex items-center justify-center py-3 space-x-3">
                                    <h1 class="text-3xl font-bold text-black dark:text-white">В разработке</h1>
                                    <ion-icon class="md:text-2xl text-lg" name="settings-outline"></ion-icon>
                                </div>
                            </div>
                        </div>

                        <!-- Закладки -->
                        <div>
                            <div class="mt-8">
                                <div class="flex items-center justify-center py-3 space-x-3">
                                    <h1 class="text-3xl font-bold text-black dark:text-white">В разработке</h1>
                                    <ion-icon class="md:text-2xl text-lg" name="settings-outline"></ion-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
{% endblock %}